{% extends 'base.html' %} {% block content%}

<h1>{{capacitor.name}}</h1>
<p>{{ capacitor.description }}</p>
<p>Цена: {{capacitor.price }} рублей</p>
<p>Размер: {{ capacitor.capacity }}</p>
<img src="{{ capacitor.photo.url }}" alt="{{capacitor.name}}" />
<p>Категория: {{ capacitor.category}}</p>
<p>Производитель {{capacitor.producer}}</p>
<p>Тип продукта {{capacitor.product_type}}</p>


{% if perms.main.add_order %}
<form method="post" action="{% url 'basket_add' 'capacitor' capacitor.pk %}">
    {% csrf_token %}
    
    <label for="id_count">Количество:</label>
    <input type="number" name="count" id="id_count" value="1" min="1" required>

    <input type="hidden" name="reload" value="False">

    <button type="submit">Добавить в корзину</button>
</form>
{% endif %}

<a href="{% url 'capacitor_list' %}">Вернутся к списку конденсаторов </a>
<a href="{% url 'capacitor_update'  capacitor.pk %}"> Редактировать </a>
<a href="{% url 'capacitor_confirm_delete' capacitor.pk %}">Удалить</a>
{% endblock %}
