{% extends 'base.html' %}
{% block content %}

<h1>{{ chip.name }}</h1>

<p>{{ chip.description|default:"Описание отсутствует." }}</p>
<p>Цена: {{ chip.price }} ₽</p>
<p>Дата добавления: {{ chip.create_date|date:"d.m.Y H:i" }}</p>
<p>Доступен к заказу: {{ chip.is_exists|yesno:"Да,Нет" }}</p>

{% if chip.photo %}
    <img src="{{ chip.photo.url }}" alt="{{ chip.name }}" style="max-width: 200px;">
{% else %}
    <p>Нет изображения</p>
{% endif %}

<p>Категория: {{ chip.category.name }}</p>
<p>Производитель: {{ chip.producer.name }}</p>
<p>Тип продукта: {{ chip.product_type.name }}</p>


<br>

{% if perms.main.add_order %}
<form method="post" action="{% url 'basket_add' 'chip' chip.pk %}">
    {% csrf_token %}
    
    <label for="id_count">Количество:</label>
    <input type="number" name="count" id="id_count" value="1" min="1" required>

    <input type="hidden" name="reload" value="False">

    <button type="submit">Добавить в корзину</button>
</form>
{% endif %}

<a href="{% url 'chip_list' %}">Вернуться к списку чипов</a> |
<a href="{% url 'chip_update' chip.pk %}">Редактировать</a> |
<a href="{% url 'chip_confirm_delete' chip.pk %}">Удалить</a>

{% endblock %}
